body{
    margin: 0;
    padding: 0;
    display: grid;
    color: white;
    overflow-y: auto;
}

a:active, a:hover, a:link, a:visited{
    text-decoration: none;
    /* color: white; */
    color:currentColor;
}

.snavbar{
    position:fixed;
    width: 100%;
    display:flex;
    align-items: center;
    font-size: 1.5rem;
    z-index: 99999;
    transition: all 0.3s ease;
    /* padding: 5px 10% 5px 10%; */
    justify-content: space-between;
}

.smenu{
    list-style-type: none;
    /* margin-left: 50%; */
    padding-right: 7%;
}

.smenu-items{
    /* padding: 4px; */
    display: inline;
}

a:active, a:hover, a:link, a:visited{
    text-decoration: none;
    color: white;
}

.home{
    background-color: black;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    padding: 7% 10% 10% 10%;
    font-family: 'Ubuntu', sans-serif;
}

p{
    font-size: 30px;
    margin: 0;
}


#typing{
    color: crimson;
}

.resume-button{
    margin-top: 30px;
    border-width: 2px;
    border-color: crimson;
    background-color: crimson;
    font-size: 20px;
    color: white;
    border-radius: 4px;
    border-style: solid;
    padding: 15px 20px 15px 20px;
    width:max-content;
}

.resume-button:hover{
    background-color: transparent;
    cursor: pointer;
}

.title{
    font-size: 40px; 
    margin-block-end:0px;
    position:relative;
    padding-bottom: 10px;
    font-weight: bold;
}

.title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
    background-position-y: 20px;
}

.about>.title::after{
    content: "I'd Love To Hear From You.";
}

.about-me{
    text-align: justify;
    padding: 30px 0px 0px 100px;
    font-size:25px;
    justify-items: center;
    font-weight: 100;
}

.Education{
    padding: 7% 5% 5% 5%;
    background-color: white;
    color: black;
    text-align: center;
}

.skills{
    background-color: black;
    text-align: center;
    padding: 7% 5% 10% 5%;
}

.projects{
    background-color: white;
    color: black;
    text-align: center;
    padding: 0% 12% 10% 12%;
}

.contact{
    background-color: black;
    padding: 2% 10% 4% 10%;
    text-align: center;
}
.contact>.title::after{
    content: "Get in touch";
    background-color: transparent;
}

.footer{
    background-color: black;
    padding: 2% 15% 2% 15%;
    text-align: center;
}

#button-to-up{
    position:fixed;
    z-index: 9999;
    bottom: 2%;
    right: 2%;
    font-size: 50px;
    cursor: pointer;
    display: none;
    color: crimson;
}

#button-to-up:active, #button-to-up:link, #button-to-up:visited, .color-crimson{
    color: crimson;
}

.font-size-40{
    font-size: 40px;
}

.float-right{
    float: right;
}

.padding-5{
    padding: 15px;
}

.progress, .progress-fluid{
    /* height: 10px; */
    background-color: #c0c0c0;
    border-radius: 10px;
    height: auto;
    /* margin-left: 30px; */
}

.progress-fluid{
    background-color: crimson;
    padding: 2px;
    padding-left: 20px;
}

.progress{
    margin-top: 4px;
    margin-left: 8px;
    font-size: 12px;
    text-align: center;
}

input, textarea{
    background-color: black;
    color: white;
    border-width: 0;
    border-bottom: 2px;
    border-bottom-color: crimson ;
    border-bottom-style: solid;
    width: 90%;
    height:30px;
     margin-left:10px;
     padding-left:10px;
}

input:active, input:focus{
    border: 2px solid crimson;
}

input{
    border-left: 2px;
    border-left-color: crimson;
    border-left-style: solid;
}

textarea{
    height: 80px;
    border-right: 2px;
    border-right-color: crimson;
    border-right-style: solid;
    resize: none;
    overflow-x: auto;
}

.submit{

    border: 2px;
    border-style: solid;
    border-color: crimson;
    cursor: pointer;
    font-size: 20px;
    height: 40px;
    width: 100%;
    margin-left: 0;
}

.submit:hover{
    background-color: crimson;
}

.education-detail{
    width: 48%; 
    /* background-color:#c0c0c0;  */
    margin-left:2%;
    border: solid 0px;
}










.tabpan{
    background-color: #e4dcdc;
    height: auto;
    width: inherit;
    /* text-align: left; */
}


.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    text-align: left;
  }

.contain{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start;
}

.cards{
    width:250px;
    height: auto;
    background-color: beige;
    padding: 0px 5px 5px 5px;
    position: relative;
    float: left;
    perspective:100px;
    margin: 20px;
}

.github{
    position: fixed;
    display: flex;
    bottom: 5%; 
    right: 5%;
    z-index: 999;
    background-color: blueviolet ;
    font-size: 18px;
    border-radius: 4px;
    padding: 2px 5px 2px 5px;
    cursor: pointer;
    /* visibility: hidden; */
    /* transform: translate(-50%,-50%); */
}

.tech{
    background-color: crimson;
    color: white;
    padding: 0px 5px 0px 5px;
    width: fit-content;
    border-radius: 3px;
    margin:2px;
}

.technology{
    display: flex;
    flex-wrap: wrap;
}

.brief{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px 5px 0px 5px;
}