.navbar{
    background-color: transparent;
    color: white;
    font-size: 1.5rem;
    transition: all 0.3s ease;
    position: fixed;
    width: 100%;
    z-index: 99999;
}

body{
    overflow-x: hidden;
    color: white;
}

html{
    scroll-behavior: smooth;
}

.navigation-items{
    padding-left: 20px;
}

a:active, a:hover, a:link, a:visited{
    text-decoration: none;
    /* color: white; */
    color:currentColor;
}

.home{
    position: relative;
    /* padding-top: 100px; */
    /* height: 100vh; */
    background-color: black;
    padding: 10% 6%;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}

#button-to-up{
    position:fixed;
    z-index: 9999;
    bottom: 2%;
    right: 2%;
    font-size: 50px;
    cursor: pointer;
    display: none;
    color: crimson;
}

#button-to-up:active, #button-to-up:link, #button-to-up:visited, .color-crimson{
    color: crimson;
}

.col{
    background-color: azure;
}

.line{
    border-color: crimson;
    border-style: dotted;
    border-top: 0;
    border-width:2px;
    width:80%;
    padding:0%;
    margin-top:0px;
    margin-bottom:0;
    border-width: 10px;
}

.resume-button{
    margin-top: 30px;
    border-width: 2px;
    border-color: crimson;
    background-color: crimson;
    font-size: 20px;
    color: white;
    border-radius: 4px;
    border-style: solid;
    padding: 15px 20px 15px 20px;
    width:max-content;
}

.resume-button:hover{
    background-color: transparent;
    cursor: pointer;
}

p{
    font-size: 30px;
    margin: 0;
}

.profile{
    background-color: azure;
    color: black;
    padding: 5% 6%;
}

.main-heading{
    font-size: 40px; 
    margin-block-end:0px;
    position:relative;
    padding-bottom: 30px;
    font-weight: bold;
    text-align: center;
}

.main-heading::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 0 5px;
    /* background: #fff; */
    transform: translateX(-50%);
    background-position-y: 20px;
}

.about>.main-heading::after{
    content: "I'd Love To Hear From You.";
}

.button-division{
    display: block;
}

.skill-box{
    margin-bottom: 20px;
    padding: 10px;
}

.skill-heading{
    font-size: 20px;
    font-weight: bold;
}

.progress, .progress-fluid{
    /* height: 10px; */
    background-color: #c0c0c0;
    border-radius: 10px;
    height: auto;
    /* margin-left: 30px; */
}

.progress-fluid{
    background-color: crimson;
    padding: 2px;
    padding-left: 20px;
}

.progress{
    margin-top: 4px;
    margin-left: 8px;
    height: 20px;
    text-align: center;
}

.footer{
    background-color: black;
    padding: 2% 6%;
    text-align: center;
    /* width: auto; */
}

.ico{
    font-size: 4rem;
    padding: 10px;
}

.social{
    display: block;
    text-align: right;
}

.contact{
    background-color: black;
    padding: 2% 30%;
    text-align: center;
}

input, textarea{
    background-color: black;
    color: white;
    border-width: 0;
    border-bottom: 2px;
    border-bottom-color: crimson ;
    border-bottom-style: solid;
    width: 100%;
    height:30px;
    padding:10px;
    margin: 10px;
}

input:active, input:focus, textarea:focus{
    border: 2px solid crimson;
    outline-width: 0px;
}

input{
    border-left: 2px;
    border-left-color: crimson;
    border-left-style: solid;
}

textarea{
    height: 40%;
    border-right: 2px;
    border-right-color: crimson;
    border-right-style: solid;
    resize: none;
    overflow-x: auto;
}

.submit{

    border: 2px;
    border-style: solid;
    border-color: crimson;
    cursor: pointer;
    font-size: 20px;
    height: 40px;
    padding-bottom: 40px;
    /* width: 100%; */
    /* margin-left: 0; */
}

.submit:hover{
    background-color: crimson;
    /* bor */
}

.project{
    padding: 0 20% 5% 20%;
    background-color: azure;
    color: black;
}

@media screen and (max-width: 600px) {

    .contact{
        padding: 5% 0%;
    }
    
    .project{
        padding: 10%;
    }
}




